body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}

/*menu */
.menu 
aside {
	background: #f0f0f0;
	padding: 10px;
	width: 200px;
	float: right;
}

/*music */

.music
aside  {
	background: #f0f0f0;
	padding: 10px;
	width: 200px;
	float: left;

}
