<html>

{#
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
#}

<head>

	<title>
		{% if title %}
		{{ title }} - Blog
		{% else %}
		Welcome to Blog
		{% endif %}
	</title>
</head>
<body>
	<div class=header>
		Blog: 
		<a href="{{ url_for('index') }}">Home </a>
		{% if current_user.is_anonymous %}
		<a href="{{ url_for('login') }}">Login </a>
		{% else %}
		<a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
		<a href="{{ url_for('logout') }}">Logout </a>
		{% endif %}
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li> {{ message }} </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	
	{% block content %}

	{% endblock %}

</body>
</html>