{% extends "base.html" %}

{% block content %}
<h1>
	Sign In
	<p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
</h1>
<form action="" method="post">
	{{ form.hidden_tag() }}
	<p>
		{{ form.username.label }} <br>
		{{ form.username(size=32) }}
		{% for error in form.username.errors %}
		<br>
		<span style="color: red;"> [{{ error }}] </span>
		{% endfor %}
	</p>
	<p>
		{{ form.password.label }} <br>
		{{ form.password(size=32) }}
		{% for error in form.password.errors %}
		<br>
		<span style="color: red;"> [{{ error }}] </span>
		{% endfor %}
	</p>
	<p>
		{{ form.remember_me() }}
		{{ form.remember_me.label }}
	</p>
	<p>
		{{ form.submit() }}
	</p>
</form>
{% endblock %}