<!doctype html> 
<html class="no-js" lang=""> <!--<![endif]-->


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Photo Capture Using Webcam</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}" />
	<script src="{{ url_for('static', filename='js/vendor/modenrizr-2.8.3-respond-1.4.2.min.js') }}"></script>
</head>
<body>

	<div class="jumbotron">
		<div id="resize-id" class="resize-class">
			<center>
				<canvas id='test_canvas' class='canvas_filtered'>
				</canvas>
				<a id="saveImg" class="hide" href="#"></a>
			</div>
		</center>

	</div>
	<center>
		<div class="row">
			<div class="col-md-4">
				<p><button class="btn btn-default" type="button" id="change-examp_filters">next</button></p>
			</div>

			<div class="col-md-4">
				<p><button class="btn btn-default" type="button" id="set-examp_filters">set</button></p>
			</div>

			<div class="col-md-4">
				<p><button class="btn btn-default" type="button" id="delete-examp_filters">delete</button></p>
			</div>
		</div>

		<p hidden ="hiden" id="user_id"> {{user.id}} </p>
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-4">
						<span id="videoViewText" class="view-text__instructions">11</span>
						<input type="range" id="r11" min="0""" max="1" step="0.01" value="0.3" >

						<span id="videoViewText" class="view-text__instructions">12</span>
						<input type="range" id="r12" min="0""" max="1" step="0.01" value="0.7">

						<span id="videoViewText" class="view-text__instructions">13</span>
						<input type="range" id="r13" min="0""" max="1" step="0.01" value="0.2">
					</div>
					<div class="col-md-4">

						<span id="videoViewText" class="view-text__instructions">21</span>
						<input type="range" id="r21" min="0""" max="1" step="0.01" value="0.4">

						<span id="videoViewText" class="view-text__instructions">22</span>
						<input type="range" id="r22" min="0""" max="1" step="0.01" value="0.7">

						<span id="videoViewText" class="view-text__instructions">23</span>
						<input type="range" id="r23" min="0""" max="1" step="0.01" value="0.2">
					</div>
					<div class="col-md-4">

						<span id="videoViewText" class="view-text__instructions">31</span>
						<input type="range" id="r31" min="0""" max="1" step="0.01" value="0.3">

						<span id="videoViewText" class="view-text__instructions">32</span>
						<input type="range" id="r32" min="0""" max="1" step="0.01" value="0.5">

						<span id="videoViewText" class="view-text__instructions">33</span>
						<input type="range" id="r33" min="0""" max="1" step="0.01" value="0.1">

					</div>
					
					
				</div>
			</div>
		</div>

		<div class="jumbotron">
			<div class="container">

				<div class="demo-area">
					<div class="view--video">
						<video id="videoTag" src="" autoplay muted class="view--video__video"></video>
					</div>
					<div class="view--snapshot">
						<canvas id="canvasTag" class="grayscale"></canvas>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-4">
				<span id="videoViewText" class="view-text__instructions">Blur</span>
				<input type="range" id="blr" value="0">

				<span id="videoViewText" class="view-text__instructions">grayscale</span>
				<input type="range" id="grsc"  value="0">

				<span id="videoViewText" class="view-text__instructions">bright</span>
				<input type="range" id="brght"  value="100">

			</div>
			<div class="col-md-4">
				<span id="videoViewText" class="view-text__instructions">contrast</span>
				<input type="range" id="cntrst"  value="100" >

				<span id="videoViewText" class="view-text__instructions">hue-rotate</span>
				<input type="range" id="huerot"  min="0" max="360" value="0">

				<span id="videoViewText" class="view-text__instructions">invert</span>
				<input type="range" id="invert"  value="0">

			</div>
			<div class="col-md-4">


				<span id="videoViewText" class="view-text__instructions">opacity</span>
				<input type="range" id="opc"  value="100">

				<span id="videoViewText" class="view-text__instructions">saturate</span>
				<input type="range" id="str"  value="100">

				<span id="videoViewText" class="view-text__instructions">sepia</span>
				<input type="range" id="sepia"  value="0">

			</div>
		</div>
		<center>
			<p><button class="btn btn-default" type="button" id="save-filter" >Save Filter</button></p>
		</center>

		<script> var json_savedfilters = {{ (filters)|tojson }};
				console.log(json_savedfilters);
		 </script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src= "{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
		<script src="{{ url_for('static', filename='js/UserMedia.js') }}"></script>

	</body>
	</html>